.topsection{
    background: none;
}
#stageframe{
    margin: 0!important;
    width: 480px!important;
    transform-origin: 0 0;
}
.fullscreen,.gridToggle{
    display: none;
}

.leftpanel, .blockspalette, .scripts, .rightpanel, #livegrid, #rownum{
    display: none;
}
.stage{
    transform: none!important;
    top: 80px;
} 

.resetall{
    left: 10px !important;
    width: 50px!important;
    height: 50px!important;
}
.go{
    left: 80px!important;
    width: 50px!important;
    height: 50px!important;
}
